# Backend
DATABASE_URL=postgres://postgres:postgres@localhost:5432/odoo_shop_development
REDIS_URL=redis://127.0.0.1

# Sync masivo Odoo (solo para CLI task)
ODOO_DATABASE_URL=postgres://odoo:postgres@localhost:5432/odoo_prod
