{% extends "base.html" %}

{% block title %}Shop Catalog{% endblock title %}

{% block content %}
<div id="shop-app" class="container mx-auto py-10"
     data-products='{{ products | json_encode | safe }}'>
    <h1 class="text-3xl font-bold mb-8">Nuestros Productos</h1>


    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div v-for="product in products" :key="product.id"
             class="bg-white rounded-xl shadow-md overflow-hidden border border-gray-100 hover:shadow-xl transition-shadow">

            <img v-if="!product.image_filename"
                 src="/static/images/No image avaible.jpeg"
                 class="h-48 w-full object-contain hover:bg-slate-800"
                 alt="Sin imagen">

            <img v-else
                 :src="'/storage/products/' + product.image_filename"
                 @error="handleImageError"
                 class="h-48 w-full object-contain hover:bg-slate-800"
                 alt="Product">

            <div class="p-4">
                <h2 class="text-lg font-bold text-gray-800">[[ product.name ]]</h2>
                <p class="text-gray-600 text-sm mt-1">[[ product.description ]]</p>
                <div class="mt-4 flex justify-between items-center">
                    <span class="text-blue-600 font-bold text-xl">$[[ product.price ]]</span>
                    <button class="bg-slate-900 text-white px-4 py-2 rounded-lg text-sm hover:bg-slate-800">
                        Añadir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/shop.js"></script>
{% endblock content %}